<html>
    <head>
        <%- include('partials/header1.ejs') %>
        
<!--    <style>       
            h4 {  color:blue; }
            h2 {  color:tomato; }
        
        </style>
    -->      
    </head>


    <body>
        <!--
            <nav>
            <a href="/">Home</a>
            
            <a href="auckland">Auckland</a>
            <a href="/beaches">Beaches</a>
            <a aria-disabled="true">Disabled</a>
           </nav>
        -->

        <%- include('partials/navbar1.ejs') %>
        <div>

        <h2>Auckland</h2>
        <img class="img2" src = "public/images/auckland.jpg" alt="Auckland">
        <p>Auckland has many <a href="beaches">beaches.</a> </p>
        <p>
            Thousands of students have graduated from 
            <a href="http://futureskills.co.nz">Future Skills Academy</a>
            which has campuses in the Auckland CBD,
            Manukau, Royal Oak, and Takapuna
        </p>
        </div>

       
        
    </body>

</html>
