<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header1.ejs') %>
    <!--
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     -->

     <!-- <link rel="stylesheet" href="public/css/style.css">      -->
        


</head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <div>
        <h2>Beaches</h2>
        <img class="img2" src = "public/images/beach.jpg" alt="Orewa Beach">
        <p>Orewa beach is ...</p>
   
    <h1><a href="https://www.ilovetakapuna.co.nz/">This is my favourite beach</a></h1>
        <p style="color: blue;"> Example of New Zealand beaches</p>

<ul>
    <li><a href="https://www.ilovetakapuna.co.nz/">Takapuna beach</a></li>
        <img class="imgTak" src = "public/images/takapuna-beach-reserve-playground.jpg">
    <li><a href="https://www.aucklandcouncil.govt.nz/parks-recreation/Pages/park-details.aspx?Location=1477">Milford beach</a></li>
    <li>Devenport beach</li>
    <li>Belmont beach</li>
</ul>
        <p>
        found 0 vulnerabilities<br>
        PS C:\Users\Th\Downloads\WebClass2> node app<br>
        Node app is running on prt 3000<br>
        Error: Cannot find module 'ejs'<br>
        Require stack:

        </p>

</div>
    
</body>
</html>
