<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header1.ejs') %>

    <!--<link rel="stylesheet" href="public/css/style.css">
    <style>
        h1 {
            color: orange;
        }
    </style>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div>
        <h1 style="color: blue;">Login / Register</h1>
        <br>
        <form action="/auth" method="post">
            <input type="text" name="username" placeholder="User Name" id="username" required>
            <label for="password"> </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" value="Login">
        </form>
        <br>
        <h4><a href="register">Register</a></h4>
        </div>      
    </body>
</html>