<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header1.ejs') %>

    <!--<link rel="stylesheet" href="public/css/style.css">
    <style>
        h1 {
            color: orange;
        }
    </style>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <%- include('partials/navbar2.ejs') %>
        <h1 style="color: blue;">Members Only</h1>
        <p>Welcome to Members only page. YOu are now Logged in!.</p>  
        <h2 style="color: blue;">Future Skills Academy</h2>
        <img class="imgAck" src="public\images\leyvaine-davids-dJoSaBRLwOE-unsplash.jpg">
        <p>Thousands of students have graduated from <a href="https://www.futureskills.co.nz/">Future Skills Academy</a>
        </p>

         
    </body>
</html>
