h1 {color:red;}
h2 {color:green; }
h4 {color:purple;}
p  {color: #000000; }


.img2 {
    float: right;
    max-width: 600px;
    margin-left: 20px;
}

.imgAck {
    float: right;
    max-width: 400px;
    margin-left: 20px;
}


.imgNzl {
    float: right;
    max-width: 400px;
    margin-left: 20px;
}
